<h1>All Articles</h1>

<ul class="unstyled">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li> 
  <% end %>
</ul>
<div class="span4 offset4">
<%= link_to "Create new article", new_article_path, class: "btn btn-inverse btn-block btn-large" %>
</div> 