<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Blog Title", root_path, class: "brand" %>
    <ul class="nav pull-right">
      <li><%= link_to "View by Tag", tags_path %></li>
    </ul>
  </div>
</div>